In [141]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [142]:
#Load data from attacks.csv
data = pd.read_csv('../data/attacks.csv', encoding = 'latin1')

In [143]:
#Examining Data
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [144]:
data_orig = data
data.shape

(25723, 24)

In [145]:
#Se guarda una copia de la original con la cual podremos comparar despúes
data_orig.copy()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#Renombrar columnas quitando espacios, antes, después y entre medias.Y mayusculas por minúsculas.

In [147]:
new_cols = [c.lower().rstrip().lstrip().replace(' ', '_') for c in data.columns]
new_cols

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal_(y/n)',
 'time',
 'species',
 'investigator_or_source',
 'pdf',
 'href_formula',
 'href',
 'case_number.1',
 'case_number.2',
 'original_order',
 'unnamed:_22',
 'unnamed:_23']

In [148]:
dict(zip(data.columns, new_cols))

{'Case Number': 'case_number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Time': 'time',
 'Species ': 'species',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [149]:
data = data.rename(columns={k:v for k,v in zip(data.columns, new_cols)})

In [150]:
data.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [151]:
#Valores nulos por columnas.
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species                   22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number.1             19421
case_number.2             19421
original_order            19414
unnamed:_22               25722
unnamed:_23               25721
dtype: int64

In [152]:
#Borramos duplicados.
data[data.duplicated(keep=False)]

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
data.drop_duplicates().shape, data.shape

((6312, 24), (25723, 24))

In [154]:
data.drop_duplicates(inplace=True)

In [155]:
data.drop_duplicates().shape, data.shape

((6312, 24), (6312, 24))

In [156]:
#Borrar index que tienen valores nulos en las tres columnas del lugar del ataque, Country, Area, Location.
no_local = data[data.country.isnull() & data.area.isnull() & data.location.isnull()].index
data.drop(no_local, axis=0, inplace=True)

In [157]:
data.shape

(6273, 24)

In [158]:
#Porcentaje de datos por paises.
data_porcentaje = data['country'].value_counts()/ 6273*100
data_porcentaje

USA                       35.533238
AUSTRALIA                 21.329507
SOUTH AFRICA               9.230033
PAPUA NEW GUINEA           2.136139
NEW ZEALAND                2.040491
                            ...
MALDIVE ISLANDS            0.015941
NICARAGUA                  0.015941
NORTH SEA                  0.015941
RED SEA / INDIAN OCEAN     0.015941
CEYLON (SRI LANKA)         0.015941
Name: country, Length: 212, dtype: float64

In [159]:
#Centro mi análisis en los tres países con mayor número de ataques. Usa, Australia y South Africa. Elimino lo demás.

no_country = data[(data['country']!="USA") & (data['country']!="AUSTRALIA")& (data['country']!="SOUTH AFRICA")].index
no_country
data.drop(no_country, axis=0, inplace=True)
data.shape

(4146, 24)

In [160]:
#Borrar las filas que tienen valores nulos en la columna sex.
data.dropna(inplace=True, subset=['sex'])

In [161]:
data.shape

(3843, 24)

In [162]:
#Borrar las filas que tienen valores nulos en la columna Fatal.
data.dropna(inplace=True, subset=['fatal_(y/n)'])

In [163]:
data.shape

(3515, 24)

In [164]:
#Borrado de todo lo que no sea Yes o No en la columna fatal.
no_fatal = data[(data['fatal_(y/n)']!="Y") & (data['fatal_(y/n)']!="N")& (data['fatal_(y/n)']!="y") & (data['fatal_(y/n)']!="n")].index
data.drop(no_fatal, axis=0, inplace=True)
data.shape

(3485, 24)

In [165]:
data['fatal_(y/n)'].unique()

array(['N', 'Y'], dtype=object)

In [166]:
#Borrado de todo lo que no sea Femenino o Masculino en la columna Sex.
no_sex = data[(data['sex']!="M") & (data['sex']!="F")].index
no_sex.shape
data.drop(no_sex, axis=0, inplace=True)
data.shape

(3481, 24)

In [167]:
data['sex'].unique()

array(['F', 'M'], dtype=object)

In [168]:
#Borrado de todos los años por debajo del año 1000.
no_year = data[(data['year']<1000)].index
no_year.shape
data.drop(no_year, axis=0, inplace=True)
data.shape

(3441, 24)

In [169]:
data['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Boat', 'Sea Disaster'], dtype=object)

In [170]:
#Comprobando columna por columna los valores invalidos y eliminandolos si no suponen perdida de información:

In [171]:
#Columna Type
no_type = data[(data['type']=='Invalid')].index
data.drop(no_type, axis=0, inplace=True)
data.shape

(3426, 24)

In [172]:
#Rellenar valores desconocidos con unknow en la columna area porque centraremos los datos por países. Y lo mismmo con Location.
data.fillna({'area': 0, 'name': 'unknown'}, inplace=True)

In [173]:
data.fillna({'location': 0, 'name': 'unknown'}, inplace=True)

In [174]:
#Las columnas Case_number y href_formula tienen un solo valor único asi que los transformamos a unknow.
data.fillna({'case_number': 0, 'name': 'unknown'}, inplace=True)
data.fillna({'href_formula': 0, 'name': 'unknown'}, inplace=True)

In [175]:
#valores nulos en species pasarlos a unknow.
data.fillna({'species': 0, 'name': 'unknown'}, inplace=True)

In [183]:
#Convertir columna Species a un string.
data['species'] = data['species'].astype(str)

In [206]:
#Limpieza columna Species.
new_Species = []
for i in data['species']:
    if i.find('White') >= 0:
        new_Species.append('Shark White')
    elif i.find('Tiger') >= 0:
        new_Species.append('Shark Tiger')
    elif i.find('Small') >= 0:
        new_Species.append('Shark Small')
    elif i.find('Dusky') >= 0:
        new_Species.append('Shark Dusky')
    elif i.find('Blue') >= 0:
        new_Species.append('Shark Blue')
    elif i.find('Bull') >= 0:
        new_Species.append('Shark Bull')
    elif i.find('Sand') >= 0:
        new_Species.append('Shark Sand')
    elif i.find('Gray') >= 0:
        new_Species.append('Shark Gray')
    elif i.find('Reef') >= 0:
        new_Species.append('Shark Reef')
    elif i.find('Wobbegong') >= 0:
        new_Species.append('Shark Wobbegong')
    elif i.find('Bronze') >= 0:
        new_Species.append('Shark Bronze')
    elif i.find('Lemon') >= 0:
        new_Species.append('Shark Lemon')
    elif i.find('Blacktip') >= 0:
        new_Species.append('Shark Blacktip')
    elif i.find('Nurse') >= 0:
        new_Species.append('Shark Nurse')
    elif i.find('Zambesi') >= 0:
        new_Species.append('Shark Zambesi')
    elif i.find('Mako') >= 0:
        new_Species.append('Shark Mako')
    elif i.find('Leopard') >= 0:
        new_Species.append('Shark Leopard')
    elif i.find('Raggedtooth') >= 0:
        new_Species.append('Shark Raggedtoot')
    elif i.find('Spinner') >= 0:
        new_Species.append('Shark Spinner')
    elif i.find('Sevengill') >= 0:
        new_Species.append('Shark Sevengill')
    elif i.find('Salmon') >= 0:
        new_Species.append('Shark Salmon')
    elif i.find('Hammerhead') >= 0:
        new_Species.append('Shark Hammerhead')
    elif i.find('Galapagos') >= 0:
        new_Species.append('Shark Galapagos')
    elif i.find('dogfish') >= 0:
        new_Species.append('Shark dogfish')
    elif i.find('Copper') >= 0:
        new_Species.append('Shark Copper')
    elif i.find('Carpet') >= 0:
        new_Species.append('Shark Carpet')
    else:
        new_Species.append('Unknown')
data['species'] = new_Species

In [207]:
data['species'].unique()

array(['Shark White', 'Unknown', 'Shark Lemon', 'Shark Bull',
       'Shark Tiger', 'Shark Wobbegong', 'Shark Blacktip',
       'Shark Spinner', 'Shark Nurse', 'Shark Sand', 'Shark dogfish',
       'Shark Bronze', 'Shark Reef', 'Shark Hammerhead', 'Shark Mako',
       'Shark Blue', 'Shark Small', 'Shark Salmon', 'Shark Galapagos',
       'Shark Sevengill', 'Shark Zambesi', 'Shark Dusky', 'Shark Leopard',
       'Shark Carpet', 'Shark Copper', 'Shark Gray'], dtype=object)

In [199]:
#Limpieza columna Date.
new_dates = []
for i in data['date']:
    if i.find('Jan') >= 0:
        new_dates.append('Jan')
    elif i.find('Feb') >= 0:
        new_dates.append('Feb')
    elif i.find('Mar') >= 0:
        new_dates.append('Mar')
    elif i.find('Apr') >= 0:
        new_dates.append('Apr')
    elif i.find('May') >= 0:
        new_dates.append('May')
    elif i.find('Jun') >= 0:
        new_dates.append('Jun')
    elif i.find('Jul') >= 0:
        new_dates.append('Jul')
    elif i.find('Aug') >= 0:
        new_dates.append('Aug')     
    elif i.find('Sep') >= 0:
        new_dates.append('Sep')
    elif i.find('Oct') >= 0:
        new_dates.append('Oct')
    elif i.find('Nov') >= 0:
        new_dates.append('Nov')
    elif i.find('Dic') >= 0:
        new_dates.append('Dic')
    else:
        new_dates.append('Unknown')
data.date = new_dates

In [201]:
data['date'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Unknown', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul'], dtype=object)

In [215]:
#valores nulos en age pasarlos a unknow.
data.fillna({'age': 0, 'name': 'unknown'}, inplace=True)

In [216]:
#valores nulos de las últimas dos columnas pasarlos a unknow.
data.fillna({'unnamed:_22': 0, 'name': 'unknown'}, inplace=True)
data.fillna({'unnamed:_23': 0, 'name': 'unknown'}, inplace=True)

In [193]:
#Convertir a string.
data['age'] = data['age'].astype(str)

In [221]:
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

activity                  142
investigator_or_source      7
dtype: int64

In [223]:
#Convertir a string.
data['time'] = data['time'].astype(str)
data['activity'] = data['activity'].astype(str)
data['investigator_or_source'] = data['investigator_or_source'].astype(str)

In [194]:
#data['age'].unique()

array(['57', '11', 'nan', '52', '15', '12', '32', '10', '34', '60', '33',
       '29', '41', '37', '19', '25', '69', '18', '38', '55', '35', '28',
       '54', '14', '7', '31', '17', '40', '3', '13', '50', '46', '16',
       '48', '20', '21', '51', '39', '58', '30', '26', '22', 'Teen', '47',
       '61', '65', '73', '42', '36', '66', '43', '60s', '9', '49', '59',
       '6', '64', '23', '45', '71', '44', '27', '62', '68', '63', '70',
       '24', '40s', '53', '20s', '50s', '8', 'teen', '74', '56', '30s',
       '5', '86', '12 or 13', 'Teens', '77', '84', '\xa0 ', '30 or 36',
       '6½', '33 or 37', 'mid-30s', ' 30', '7      &    31', ' 28',
       "60's", '87', 'Elderly', '75', ' ', '74 ', '45 ', '21 or 26',
       '>50', 'adult', '25 or 28', '30 & 32', '17 & 35', ' 43', '"young"',
       '78', 'F', 'Both 11', 'young', '  ', '?    &   14', '10 or 12',
       '31 or 33', '2½'], dtype=object)

In [ ]:
dic = {nan,
        'Teen':'15', '60s':'60',
        '40s':'40', '20s':'20', '50s':'50', 'teen':'15', '30s':'30',
        '12 or 13':'12', 'Teens':'15', '\xa0 ':None, '30 or 36':'35',
       '6½':'6', '33 or 37':'33', 'mid-30s':'30', '7      &    31':None,
       "60's", 'Elderly':None, ' ', '74 ':'74', '45 ':'45', '21 or 26':'25',
       '>50':'50', 'adult':None, '25 or 28':'25', '30 & 32':'30', '17 & 35':None, ' 43':'43', '"young"':None, 
       'F':None, 'Both 11':'11', 'young':'20', '  ':None, '?    &   14':None, '10 or 12':'10',
       '31 or 33':'31', '2½':'2'}

data.replace()

In [23]:
#Muestra la info de los datos. Las columnas con datos object ocupan mayor espacio, por lo que nos interesa pasar esos datos a categóricos.
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   object
 1   date                    4146 non-null   object
 2   year                    4145 non-null   float64
 3   type                    4145 non-null   object
 4   country                 4146 non-null   object
 5   area                    4123 non-null   object
 6   location                4043 non-null   object
 7   activity                3845 non-null   object
 8   name                    4084 non-null   object
 9   sex                     3843 non-null   object
 10  age                     2592 non-null   object
 11  injury                  4134 non-null   object
 12  fatal_(y/n)             3781 non-null   object
 13  time                    2329 non-null   object
 14  species                 2535 non-null   object
 15  investigator_or_source  4135 non-null   object
 16  pdf                     4146 non-null   object
 17  href_formula            4145 non-null   object
 18  href                    4146 non-null   object
 19  case_number.1           4146 non-null   object
 20  case_number.2           4146 non-null   object
 21  original_order          4146 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             1 non-null      object
dtypes: float64(2), object(22)
memory usage: 6.2 MB

In [24]:
for c in data.select_dtypes('object').columns:
    data[c] = data[c].astype('category')

In [25]:
data.info(memory_usage='deep')
#Hemos cambiado los object por datos categóricos. Y como vemos la memoria usada a disminuido. Pasando de 22.8 Mb a 8.4 Mb.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   category
 1   date                    4146 non-null   category
 2   year                    4145 non-null   float64
 3   type                    4145 non-null   category
 4   country                 4146 non-null   category
 5   area                    4123 non-null   category
 6   location                4043 non-null   category
 7   activity                3845 non-null   category
 8   name                    4084 non-null   category
 9   sex                     3843 non-null   category
 10  age                     2592 non-null   category
 11  injury                  4134 non-null   category
 12  fatal_(y/n)             3781 non-null   category
 13  time                    2329 non-null   category
 14  species                 2535 non-null   category
 15  investigator_or_source  4135 non-null   category
 16  pdf                     4146 non-null   category
 17  href_formula            4145 non-null   category
 18  href                    4146 non-null   category
 19  case_number.1           4146 non-null   category
 20  case_number.2           4146 non-null   category
 21  original_order          4146 non-null   float64
 22  unnamed:_22             1 non-null      category
 23  unnamed:_23             1 non-null      category
dtypes: category(22), float64(2)
memory usage: 5.2 MB

In [26]:
#Optimización de memoria. Pasamos los float64 a float32, que ocuparán la mitad del tamaño en la memoria.
for c in data.select_dtypes('float').columns:
    data[c] = pd.to_numeric(data[c], downcast='float')

In [27]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   category
 1   date                    4146 non-null   category
 2   year                    4145 non-null   float32
 3   type                    4145 non-null   category
 4   country                 4146 non-null   category
 5   area                    4123 non-null   category
 6   location                4043 non-null   category
 7   activity                3845 non-null   category
 8   name                    4084 non-null   category
 9   sex                     3843 non-null   category
 10  age                     2592 non-null   category
 11  injury                  4134 non-null   category
 12  fatal_(y/n)             3781 non-null   category
 13  time                    2329 non-null   category
 14  species                 2535 non-null   category
 15  investigator_or_source  4135 non-null   category
 16  pdf                     4146 non-null   category
 17  href_formula            4145 non-null   category
 18  href                    4146 non-null   category
 19  case_number.1           4146 non-null   category
 20  case_number.2           4146 non-null   category
 21  original_order          4146 non-null   float32
 22  unnamed:_22             1 non-null      category
 23  unnamed:_23             1 non-null      category
dtypes: category(22), float32(2)
memory usage: 5.2 MB

In [214]:
data.to_csv('DataLimpieza98.csv', index=True, sep=';')