In [60]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [61]:
#Load data from attacks.csv
data = pd.read_csv('../data/attacks.csv', encoding = 'latin1')

In [62]:
#Examining Data
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [63]:
data_orig = data
data.shape

(25723, 24)

In [64]:
#Se guarda una copia de la original con la cual podremos comparar despúes
data_orig.copy()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
#Renombrar columnas quitando espacios, antes, después y entre medias.Y mayusculas por minúsculas.

In [66]:
new_cols = [c.lower().rstrip().lstrip().replace(' ', '_') for c in data.columns]
new_cols

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal_(y/n)',
 'time',
 'species',
 'investigator_or_source',
 'pdf',
 'href_formula',
 'href',
 'case_number.1',
 'case_number.2',
 'original_order',
 'unnamed:_22',
 'unnamed:_23']

In [67]:
dict(zip(data.columns, new_cols))

{'Case Number': 'case_number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Time': 'time',
 'Species ': 'species',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [68]:
data = data.rename(columns={k:v for k,v in zip(data.columns, new_cols)})

In [69]:
data.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [70]:
#Valores nulos por columnas.
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species                   22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number.1             19421
case_number.2             19421
original_order            19414
unnamed:_22               25722
unnamed:_23               25721
dtype: int64

In [71]:
#Borramos duplicados.
data[data.duplicated(keep=False)]

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
data.drop_duplicates().shape, data.shape

((6312, 24), (25723, 24))

In [73]:
data.drop_duplicates(inplace=True)

In [74]:
data.drop_duplicates().shape, data.shape

((6312, 24), (6312, 24))

In [75]:
#Borrar index que tienen valores nulos en las tres columnas del lugar del ataque, Country, Area, Location.
no_local = data[data.country.isnull() & data.area.isnull() & data.location.isnull()].index
data.drop(no_local, axis=0, inplace=True)

In [76]:
data.shape

(6273, 24)

In [77]:
#Porcentaje de datos por paises.
data_porcentaje = data['country'].value_counts()/ 6273*100
data_porcentaje

USA                       35.533238
AUSTRALIA                 21.329507
SOUTH AFRICA               9.230033
PAPUA NEW GUINEA           2.136139
NEW ZEALAND                2.040491
                            ...
MALDIVE ISLANDS            0.015941
NICARAGUA                  0.015941
NORTH SEA                  0.015941
RED SEA / INDIAN OCEAN     0.015941
CEYLON (SRI LANKA)         0.015941
Name: country, Length: 212, dtype: float64

In [78]:
#Centro mi análisis en los tres países con mayor número de ataques. Usa, Australia y South Africa. Elimino lo demás.

no_country = data[(data['country']!="USA") & (data['country']!="AUSTRALIA")& (data['country']!="SOUTH AFRICA")].index
no_country
data.drop(no_country, axis=0, inplace=True)
data.shape

(4146, 24)

In [79]:
#Borrar las filas que tienen valores nulos en la columna sex.
data.dropna(inplace=True, subset=['sex'])

In [80]:
data.shape

(3843, 24)

In [81]:
#Borrar las filas que tienen valores nulos en la columna Fatal.
data.dropna(inplace=True, subset=['fatal_(y/n)'])

In [82]:
data.shape

(3515, 24)

In [83]:
#Borrado de todo lo que no sea Yes o No en la columna fatal.
no_fatal = data[(data['fatal_(y/n)']!="Y") & (data['fatal_(y/n)']!="N")& (data['fatal_(y/n)']!="y") & (data['fatal_(y/n)']!="n")].index
data.drop(no_fatal, axis=0, inplace=True)
data.shape

(3485, 24)

In [84]:
#Borrado de todo lo que no sea Femenino o Masculino en la columna Sex.
no_sex = data[(data['sex']!="M") & (data['sex']!="F")].index
no_sex.shape
data.drop(no_sex, axis=0, inplace=True)
data.shape

(3481, 24)

In [85]:
data['sex'].unique()

array(['F', 'M'], dtype=object)

In [89]:
#Borrado de todos los años por debajo del año 1000.
no_year = data[(data['year']<1000)].index
no_year.shape
data.drop(no_year, axis=0, inplace=True)
data.shape

(3441, 24)

In [90]:
data['year'].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1988., 1987., 1986., 1985., 1983.,
       1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974.,
       1973., 1972., 1971., 1970., 1969., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1947.,
       1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938.,
       1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929.,
       1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920.,
       1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911.,
       1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902.,
       1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893.,
       1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884.,
       1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875.,
       1874., 1873., 1872., 1871., 1870., 1869., 1868., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858., 1857., 1855.,
       1853., 1852., 1851., 1850., 1849., 1848., 1847., 1845., 1842.,
       1841., 1840., 1839., 1837., 1832., 1831., 1830., 1829., 1828.,
       1825., 1817., 1816., 1810., 1807., 1803., 1791., 1780., 1779.,
       1771., 1751., 1642.])

In [34]:
#'\d{4}'
#no_year = data[(data['year']==len())]
 
#data.drop(no_year, axis=0, inplace=True)

In [21]:
#Rellenar valores nulos en Age con la media de años de las personas.
#data['age'].fillna(data['age'].mean(), inplace=True)

In [22]:
#data.age.head(10)

In [23]:
#Muestra la info de los datos. Las columnas con datos object ocupan mayor espacio, por lo que nos interesa pasar esos datos a categóricos.
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   object
 1   date                    4146 non-null   object
 2   year                    4145 non-null   float64
 3   type                    4145 non-null   object
 4   country                 4146 non-null   object
 5   area                    4123 non-null   object
 6   location                4043 non-null   object
 7   activity                3845 non-null   object
 8   name                    4084 non-null   object
 9   sex                     3843 non-null   object
 10  age                     2592 non-null   object
 11  injury                  4134 non-null   object
 12  fatal_(y/n)             3781 non-null   object
 13  time                    2329 non-null   object
 14  species                 2535 non-null   object
 15  investigator_or_source  4135 non-null   object
 16  pdf                     4146 non-null   object
 17  href_formula            4145 non-null   object
 18  href                    4146 non-null   object
 19  case_number.1           4146 non-null   object
 20  case_number.2           4146 non-null   object
 21  original_order          4146 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             1 non-null      object
dtypes: float64(2), object(22)
memory usage: 6.2 MB

In [24]:
for c in data.select_dtypes('object').columns:
    data[c] = data[c].astype('category')

In [25]:
data.info(memory_usage='deep')
#Hemos cambiado los object por datos categóricos. Y como vemos la memoria usada a disminuido. Pasando de 22.8 Mb a 8.4 Mb.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   category
 1   date                    4146 non-null   category
 2   year                    4145 non-null   float64
 3   type                    4145 non-null   category
 4   country                 4146 non-null   category
 5   area                    4123 non-null   category
 6   location                4043 non-null   category
 7   activity                3845 non-null   category
 8   name                    4084 non-null   category
 9   sex                     3843 non-null   category
 10  age                     2592 non-null   category
 11  injury                  4134 non-null   category
 12  fatal_(y/n)             3781 non-null   category
 13  time                    2329 non-null   category
 14  species                 2535 non-null   category
 15  investigator_or_source  4135 non-null   category
 16  pdf                     4146 non-null   category
 17  href_formula            4145 non-null   category
 18  href                    4146 non-null   category
 19  case_number.1           4146 non-null   category
 20  case_number.2           4146 non-null   category
 21  original_order          4146 non-null   float64
 22  unnamed:_22             1 non-null      category
 23  unnamed:_23             1 non-null      category
dtypes: category(22), float64(2)
memory usage: 5.2 MB

In [26]:
#Optimización de memoria. Pasamos los float64 a float32, que ocuparán la mitad del tamaño en la memoria.
for c in data.select_dtypes('float').columns:
    data[c] = pd.to_numeric(data[c], downcast='float')

In [27]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4146 entries, 0 to 6299
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4145 non-null   category
 1   date                    4146 non-null   category
 2   year                    4145 non-null   float32
 3   type                    4145 non-null   category
 4   country                 4146 non-null   category
 5   area                    4123 non-null   category
 6   location                4043 non-null   category
 7   activity                3845 non-null   category
 8   name                    4084 non-null   category
 9   sex                     3843 non-null   category
 10  age                     2592 non-null   category
 11  injury                  4134 non-null   category
 12  fatal_(y/n)             3781 non-null   category
 13  time                    2329 non-null   category
 14  species                 2535 non-null   category
 15  investigator_or_source  4135 non-null   category
 16  pdf                     4146 non-null   category
 17  href_formula            4145 non-null   category
 18  href                    4146 non-null   category
 19  case_number.1           4146 non-null   category
 20  case_number.2           4146 non-null   category
 21  original_order          4146 non-null   float32
 22  unnamed:_22             1 non-null      category
 23  unnamed:_23             1 non-null      category
dtypes: category(22), float32(2)
memory usage: 5.2 MB