In [519]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [520]:
#Load data from attacks.csv
data = pd.read_csv('../data/attacks.csv', encoding = 'latin1')

In [521]:
#Examining Data
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [522]:
data_orig = data
data.shape

(25723, 24)

In [523]:
#Se guarda una copia de la original con la cual podremos comparar despúes
data_orig.copy()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [524]:
#Renombrar columnas quitando espacios, antes, después y entre medias.Y mayusculas por minúsculas.

In [525]:
new_cols = [c.lower().rstrip().lstrip().replace(' ', '_') for c in data.columns]
new_cols

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex',
 'age',
 'injury',
 'fatal_(y/n)',
 'time',
 'species',
 'investigator_or_source',
 'pdf',
 'href_formula',
 'href',
 'case_number.1',
 'case_number.2',
 'original_order',
 'unnamed:_22',
 'unnamed:_23']

In [526]:
dict(zip(data.columns, new_cols))

{'Case Number': 'case_number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Time': 'time',
 'Species ': 'species',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [527]:
data = data.rename(columns={k:v for k,v in zip(data.columns, new_cols)})

In [528]:
data.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [529]:
#Valores nulos por columnas.
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species                   22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number.1             19421
case_number.2             19421
original_order            19414
unnamed:_22               25722
unnamed:_23               25721
dtype: int64

In [530]:
#Borramos duplicados.
data[data.duplicated(keep=False)]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [531]:
data.drop_duplicates().shape, data.shape

((6312, 24), (25723, 24))

In [532]:
data.drop_duplicates(inplace=True)

In [533]:
data.drop_duplicates().shape, data.shape

((6312, 24), (6312, 24))

In [534]:
#Borrar index que tienen valores nulos en las tres columnas del lugar del ataque, Country, Area, Location.
no_local = data[data.country.isnull() & data.area.isnull() & data.location.isnull()].index
data.drop(no_local, axis=0, inplace=True)

In [535]:
data.shape

(6273, 24)

In [536]:
#Porcentaje de datos por paises.
data_porcentaje = data['country'].value_counts()/ 6273*100
data_porcentaje

USA                                      35.533238
AUSTRALIA                                21.329507
SOUTH AFRICA                              9.230033
PAPUA NEW GUINEA                          2.136139
NEW ZEALAND                               2.040491
BRAZIL                                    1.785430
BAHAMAS                                   1.737606
MEXICO                                    1.418779
ITALY                                     1.131835
FIJI                                      0.988363
PHILIPPINES                               0.972421
REUNION                                   0.956480
NEW CALEDONIA                             0.844891
CUBA                                      0.733301
MOZAMBIQUE                                0.717360
SPAIN                                     0.701419
INDIA                                     0.637653
EGYPT                                     0.605771
CROATIA                                   0.542005
JAPAN                                     0.542005
PANAMA                                    0.510123
SOLOMON ISLANDS                           0.478240
IRAN                                      0.462299
JAMAICA                                   0.430416
FRENCH POLYNESIA                          0.398533
GREECE                                    0.398533
HONG KONG                                 0.382592
INDONESIA                                 0.366651
ENGLAND                                   0.366651
PACIFIC OCEAN                             0.271003
ATLANTIC OCEAN                            0.271003
COSTA RICA                                0.271003
BERMUDA                                   0.255061
VIETNAM                                   0.239120
TONGA                                     0.239120
SRI LANKA                                 0.223179
VANUATU                                   0.223179
MARSHALL ISLANDS                          0.207237
FRANCE                                    0.207237
CANADA                                    0.191296
SOUTH ATLANTIC OCEAN                      0.191296
TURKEY                                    0.191296
IRAQ                                      0.191296
VENEZUELA                                 0.175355
UNITED KINGDOM                            0.175355
SENEGAL                                   0.175355
KENYA                                     0.159413
NEW GUINEA                                0.159413
MAURITIUS                                 0.159413
ECUADOR                                   0.143472
TAIWAN                                    0.143472
COLUMBIA                                  0.143472
CARIBBEAN SEA                             0.127531
TANZANIA                                  0.127531
SCOTLAND                                  0.127531
MADAGASCAR                                0.127531
CHILE                                     0.127531
SOUTH KOREA                               0.127531
THAILAND                                  0.127531
SAMOA                                     0.127531
SIERRA LEONE                              0.127531
SEYCHELLES                                0.111589
NORTH PACIFIC OCEAN                       0.111589
ISRAEL                                    0.111589
CHINA                                     0.111589
DOMINICAN REPUBLIC                        0.111589
YEMEN                                     0.111589
INDIAN OCEAN                              0.111589
LIBYA                                     0.095648
BARBADOS                                  0.095648
OKINAWA                                   0.095648
NICARAGUA                                 0.095648
NEW BRITAIN                               0.095648
SOMALIA                                   0.095648
KIRIBATI                                  0.095648
SINGAPORE                                 0.095648
PALAU                                     0.079707
MALAYSIA                                  0.079707
MALTA                                     0.079707
AZORES                                    0.079707
TURKS & CAICOS                            0.079707
MID ATLANTIC OCEAN                        0.079707
SAUDI ARABIA                              0.079707
BURMA                                     0.063765
NORTH ATLANTIC OCEAN                      0.063765
PERSIAN GULF                              0.063765
EL SALVADOR                               0.063765
URUGUAY                                   0.063765
SUDAN                                     0.063765
GRENADA                                   0.063765
HONDURAS                                  0.063765
GUAM                                      0.063765
NIGERIA                                   0.063765
RUSSIA                                    0.063765
MONTENEGRO                                0.047824
CEYLON                                    0.047824
TRINIDAD & TOBAGO                         0.047824
MARTINIQUE                                0.047824
 TONGA                                    0.047824
BELIZE                                    0.047824
GUINEA                                    0.047824
AMERICAN SAMOA                            0.047824
PORTUGAL                                  0.047824
Fiji                                      0.047824
TUNISIA                                   0.047824
LEBANON                                   0.047824
GUYANA                                    0.047824
MICRONESIA                                0.047824
HAITI                                     0.047824
LIBERIA                                   0.047824
CAPE VERDE                                0.047824
YEMEN                                     0.031883
UNITED ARAB EMIRATES                      0.031883
WEST INDIES                               0.031883
EGYPT                                     0.031883
ICELAND                                   0.031883
CRETE                                     0.031883
SOUTHWEST PACIFIC OCEAN                   0.031883
SOUTH PACIFIC OCEAN                       0.031883
JOHNSTON ISLAND                           0.031883
NORWAY                                    0.031883
CAYMAN ISLANDS                            0.031883
CENTRAL PACIFIC                           0.031883
UNITED ARAB EMIRATES (UAE)                0.031883
ST HELENA, British overseas territory     0.031883
PACIFIC OCEAN                             0.031883
NAMIBIA                                   0.031883
TOBAGO                                    0.031883
ANTIGUA                                   0.031883
MEDITERRANEAN SEA                         0.031883
SAN DOMINGO                               0.015941
RED SEA?                                  0.015941
REUNION ISLAND                            0.015941
CYPRUS                                    0.015941
IRELAND                                   0.015941
KUWAIT                                    0.015941
ASIA?                                     0.015941
MONACO                                    0.015941
FALKLAND ISLANDS                          0.015941
INDIAN OCEAN?                             0.015941
PARAGUAY                                  0.015941
EQUATORIAL GUINEA / CAMEROON              0.015941
ALGERIA                                   0.015941
Coast of AFRICA                           0.015941
TASMAN SEA                                0.015941
GHANA                                     0.015941
AFRICA                                    0.015941
PERU                                      0.015941
GREENLAND                                 0.015941
SWEDEN                                    0.015941
COOK ISLANDS                              0.015941
ROATAN                                    0.015941
BRITISH NEW GUINEA                        0.015941
ANDAMAN ISLANDS                           0.015941
Between PORTUGAL & INDIA                  0.015941
TUVALU                                    0.015941
DJIBOUTI                                  0.015941
SYRIA                                     0.015941
GEORGIA                                   0.015941
BAHREIN                                   0.015941
OCEAN                                     0.015941
KOREA                                     0.015941
ITALY / CROATIA                           0.015941
COMOROS                                   0.015941
CURACAO                                   0.015941
SLOVENIA                                  0.015941
BRITISH ISLES                             0.015941
WESTERN SAMOA                             0.015941
BANGLADESH                                0.015941
SOUTH CHINA SEA                           0.015941
ANGOLA                                    0.015941
NORTHERN ARABIAN SEA                      0.015941
EGYPT / ISRAEL                            0.015941
MEXICO                                    0.015941
Seychelles                                0.015941
GRAND CAYMAN                              0.015941
ST. MAARTIN                               0.015941
Sierra Leone                              0.015941
GULF OF ADEN                              0.015941
BRITISH VIRGIN ISLANDS                    0.015941
NEVIS                                     0.015941
MALDIVES                                  0.015941
PALESTINIAN TERRITORIES                   0.015941
DIEGO GARCIA                              0.015941
ST. MARTIN                                0.015941
PUERTO RICO                               0.015941
ARUBA                                     0.015941
RED SEA                                   0.015941
FEDERATED STATES OF MICRONESIA            0.015941
ADMIRALTY ISLANDS                         0.015941
ARGENTINA                                 0.015941
MID-PACIFC OCEAN                          0.015941
BAY OF BENGAL                             0.015941
SOLOMON ISLANDS / VANUATU                 0.015941
 PHILIPPINES                              0.015941
JAVA                                      0.015941
IRAN / IRAQ                               0.015941
NORTHERN MARIANA ISLANDS                  0.015941
NETHERLANDS ANTILLES                      0.015941
GUATEMALA                                 0.015941
SUDAN?                                    0.015941
BRITISH WEST INDIES                       0.015941
THE BALKANS                               0.015941
NORTH ATLANTIC OCEAN                      0.015941
MAYOTTE                                   0.015941
GABON                                     0.015941
ANDAMAN / NICOBAR ISLANDAS                0.015941
MALDIVE ISLANDS                           0.015941
NICARAGUA                                 0.015941
NORTH SEA                                 0.015941
RED SEA / INDIAN OCEAN                    0.015941
CEYLON (SRI LANKA)                        0.015941
Name: country, dtype: float64

In [537]:
#Centro mi análisis en los tres países con mayor número de ataques. Usa, Australia y South Africa. Elimino lo demás.

no_country = data[(data['country']!="USA") & (data['country']!="AUSTRALIA")& (data['country']!="SOUTH AFRICA")].index
no_country
data.drop(no_country, axis=0, inplace=True)
data.shape

(4146, 24)

In [538]:
#Borrar las filas que tienen valores nulos en la columna sex.
data.dropna(inplace=True, subset=['sex'])

In [539]:
data.shape

(3843, 24)

In [540]:
#Borrar las filas que tienen valores nulos en la columna Fatal.
data.dropna(inplace=True, subset=['fatal_(y/n)'])

In [541]:
data.shape

(3515, 24)

In [542]:
#Borrado de todo lo que no sea Yes o No en la columna fatal.
no_fatal = data[(data['fatal_(y/n)']!="Y") & (data['fatal_(y/n)']!="N")& (data['fatal_(y/n)']!="y") & (data['fatal_(y/n)']!="n")].index
data.drop(no_fatal, axis=0, inplace=True)
data.shape

(3485, 24)

In [543]:
data['fatal_(y/n)'].unique()

array(['N', 'Y'], dtype=object)

In [544]:
#Borrado de todo lo que no sea Femenino o Masculino en la columna Sex.
no_sex = data[(data['sex']!="M") & (data['sex']!="F")].index
no_sex.shape
data.drop(no_sex, axis=0, inplace=True)
data.shape

(3481, 24)

In [545]:
data['sex'].unique()

array(['F', 'M'], dtype=object)

In [546]:
#Borrado de todos los años por debajo del año 1900. Mi análisis se centra en el siglo XX/XXI
no_year = data[(data['year']<1900)].index
no_year.shape
data.drop(no_year, axis=0, inplace=True)
data.shape

(3213, 24)

In [547]:
data['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Boat', 'Sea Disaster'], dtype=object)

In [548]:
#Comprobando columna por columna los valores invalidos y eliminandolos si no suponen perdida de información:

In [549]:
#Columna Type
no_type = data[(data['type']=='Invalid')].index
data.drop(no_type, axis=0, inplace=True)
data.shape

(3199, 24)

In [550]:
#Rellenar valores desconocidos con unknow en la columna area porque centraremos los datos por países. Y lo mismmo con Location.
data.fillna({'area': 0, 'name': 'unknown'}, inplace=True)

In [551]:
data.fillna({'location': 0, 'name': 'unknown'}, inplace=True)

In [552]:
#Las columnas Case_number y href_formula tienen un solo valor único asi que los transformamos a unknow.
data.fillna({'case_number': 0, 'name': 'unknown'}, inplace=True)
data.fillna({'href_formula': 0, 'name': 'unknown'}, inplace=True)

In [553]:
#valores nulos en species pasarlos a unknow.
data.fillna({'species': 0, 'name': 'unknown'}, inplace=True)

In [554]:
#Convertir columna Species a un string.
data['species'] = data['species'].astype(str)

In [555]:
#Limpieza columna Species, ordenandolos por los tipos de especies de tiburón más comunes.
new_Species = []
for i in data['species']:
    if i.find('White') >= 0:
        new_Species.append('Shark White')
    elif i.find('Tiger') >= 0:
        new_Species.append('Shark Tiger')
    elif i.find('Small') >= 0:
        new_Species.append('Shark Small')
    elif i.find('Dusky') >= 0:
        new_Species.append('Shark Dusky')
    elif i.find('Blue') >= 0:
        new_Species.append('Shark Blue')
    elif i.find('Bull') >= 0:
        new_Species.append('Shark Bull')
    elif i.find('Sand') >= 0:
        new_Species.append('Shark Sand')
    elif i.find('Gray') >= 0:
        new_Species.append('Shark Gray')
    elif i.find('Reef') >= 0:
        new_Species.append('Shark Reef')
    elif i.find('Wobbegong') >= 0:
        new_Species.append('Shark Wobbegong')
    elif i.find('Bronze') >= 0:
        new_Species.append('Shark Bronze')
    elif i.find('Lemon') >= 0:
        new_Species.append('Shark Lemon')
    elif i.find('Blacktip') >= 0:
        new_Species.append('Shark Blacktip')
    elif i.find('Nurse') >= 0:
        new_Species.append('Shark Nurse')
    elif i.find('Zambesi') >= 0:
        new_Species.append('Shark Zambesi')
    elif i.find('Mako') >= 0:
        new_Species.append('Shark Mako')
    elif i.find('Leopard') >= 0:
        new_Species.append('Shark Leopard')
    elif i.find('Raggedtooth') >= 0:
        new_Species.append('Shark Raggedtoot')
    elif i.find('Spinner') >= 0:
        new_Species.append('Shark Spinner')
    elif i.find('Sevengill') >= 0:
        new_Species.append('Shark Sevengill')
    elif i.find('Salmon') >= 0:
        new_Species.append('Shark Salmon')
    elif i.find('Hammerhead') >= 0:
        new_Species.append('Shark Hammerhead')
    elif i.find('Galapagos') >= 0:
        new_Species.append('Shark Galapagos')
    elif i.find('dogfish') >= 0:
        new_Species.append('Shark dogfish')
    elif i.find('Copper') >= 0:
        new_Species.append('Shark Copper')
    elif i.find('Carpet') >= 0:
        new_Species.append('Shark Carpet')
    else:
        new_Species.append('Unknown')
data['species'] = new_Species

In [556]:
data['species'].unique()

array(['Shark White', 'Unknown', 'Shark Lemon', 'Shark Bull',
       'Shark Tiger', 'Shark Wobbegong', 'Shark Blacktip',
       'Shark Spinner', 'Shark Nurse', 'Shark Sand', 'Shark dogfish',
       'Shark Bronze', 'Shark Reef', 'Shark Hammerhead', 'Shark Mako',
       'Shark Blue', 'Shark Raggedtoot', 'Shark Small', 'Shark Salmon',
       'Shark Galapagos', 'Shark Sevengill', 'Shark Zambesi',
       'Shark Dusky', 'Shark Leopard', 'Shark Carpet', 'Shark Copper',
       'Shark Gray'], dtype=object)

In [557]:
#Limpieza columna Date.
new_dates = []
for i in data['date']:
    if i.find('Jan') >= 0:
        new_dates.append('Jan')
    elif i.find('Feb') >= 0:
        new_dates.append('Feb')
    elif i.find('Mar') >= 0:
        new_dates.append('Mar')
    elif i.find('Apr') >= 0:
        new_dates.append('Apr')
    elif i.find('May') >= 0:
        new_dates.append('May')
    elif i.find('Jun') >= 0:
        new_dates.append('Jun')
    elif i.find('Jul') >= 0:
        new_dates.append('Jul')
    elif i.find('Aug') >= 0:
        new_dates.append('Aug')     
    elif i.find('Sep') >= 0:
        new_dates.append('Sep')
    elif i.find('Oct') >= 0:
        new_dates.append('Oct')
    elif i.find('Nov') >= 0:
        new_dates.append('Nov')
    elif i.find('Dic') >= 0:
        new_dates.append('Dic')
    else:
        new_dates.append('Unknown')
data.date = new_dates

In [558]:
data['date'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Unknown', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul'], dtype=object)

In [559]:
#valores nulos en age pasarlos a unknow.
data.fillna({'age': 0, 'name': 'unknown'}, inplace=True)

In [560]:
#valores nulos de las últimas dos columnas pasarlos a unknow.
data.fillna({'unnamed:_22': 0, 'name': 'unknown'}, inplace=True)
data.fillna({'unnamed:_23': 0, 'name': 'unknown'}, inplace=True)

In [561]:
#Convertir a string.
data['age'] = data['age'].astype(str)

In [562]:
#Convertir a string.
data['time'] = data['time'].astype(str)
data['activity'] = data['activity'].astype(str)
data['investigator_or_source'] = data['investigator_or_source'].astype(str)

In [563]:
#Reemplazamos valores inconsistentes por otros más fiables.
dic = {'Teen':'15', '60s':'60',
        '40s':'40', '20s':'20', '50s':'50', 'teen':'15', '30s':'30',
        '12 or 13':'12', 'Teens':'15', '\xa0 ':None, '30 or 36':'35',
       '6½':'6', '33 or 37':'33', 'mid-30s':'30', '7      &    31':None,
       "60's":'60', 'Elderly':None, ' ':None, '74 ':'74', '45 ':'45', '21 or 26':'25',
       '>50':'50', 'adult':None, '25 or 28':'25', '30 & 32':'30', '17 & 35':None, ' 43':'43', '"young"':None, 
       'F':None, 'Both 11':'11', 'young':'20', '  ':None, '?    &   14':None, '10 or 12':'10',
       '31 or 33':'31', '2½':'2'}

data.replace({'age':dic}, inplace=True)

In [564]:
data.age = data.age.str.replace('nan', 'unknown')

In [570]:
#data['age'].value_counts()

In [566]:
data['activity'] = data['activity'].astype(str)

In [567]:
#Reagrupar las actividades que realizaban en el momento del ataque en 12 categorías.
acti = []

for i in data['activity']:
    if i.find('Surfing')>= 0 or i.find('surfing')>= 0 or i.find('Scurfing')>= 0 or i.find('scurfing')>= 0 or i.find('Scurfing')>= 0:
        acti.append('Surfing')
    elif i.find('Paddling')>= 0 or i.find('Paddle')>= 0 or i.find('paddling')>= 0 or i.find('paddle')>= 0:
        acti.append('Paddling')
    elif i.find('Standing')>= 0 or i.find('standing') >= 0:
        acti.append('Standing')
    elif i.find('Fishing')>= 0 or i.find('fishing')>= 0 or i.find('Spearfishing')>= 0 or i.find('spearfishing')>= 0:
        acti.append('Fishing')
    elif i.find('Walking')>= 0 or i.find('walking')>= 0:
        acti.append('Walking')
    elif i.find('Kayak')>= 0 or i.find('kayak')>= 0 or i.find('Kayaking')>= 0:
        acti.append('Kayaking')
    elif i.find('Snorkeling')>= 0 or i.find('snorkeling')>= 0:
        acti.append('Snorkeling')
    elif i.find('Paddling')>= 0 or i.find('Paddle')>= 0:
        acti.append('Paddling')
    elif i.find('Swimming')>= 0 or i.find('swimming')>= 0 or i.find('Finning')>= 0 or i.find('finning') >= 0:
        acti.append('Swimming')
    elif i.find('Boarding')>= 0 or i.find('boarding')>= 0:
        acti.append('Boarding')
    elif i.find('Windsurfing')>= 0 or i.find('windsurfing')>= 0 or i.find('windsurf')>= 0 or i.find('Windsurf')>= 0:
        acti.append('Windsurfing')
    elif i.find('Diving')>= 0 or i.find('diving')>= 0 or i.find('Skindiving')>= 0 or i.find('skindiving')>= 0:
        acti.append('Diving')
    elif i.find('sailing')>= 0 or i.find('Sailing')>= 0 or i.find('Sailboarding')>= 0:
        acti.append('Sailing')
    else:
        acti.append('Others')
        
data.activity = acti

In [505]:
data['activity'].unique()

array(['Paddling', 'Standing', 'Surfing', 'Fishing', 'Walking', 'Others',
       'Boarding', 'Swimming', 'Diving', 'Snorkeling', 'Kayaking',
       'Sailing'], dtype=object)

In [506]:
nan_cols = data.isna().sum()
nan_cols[nan_cols>0]

age    10
dtype: int64

In [507]:
#Muestra la info de los datos. Las columnas con datos object ocupan mayor espacio, por lo que nos interesa pasar esos datos a categóricos.
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3199 entries, 0 to 5563
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             3199 non-null   object
 1   date                    3199 non-null   object
 2   year                    3199 non-null   float64
 3   type                    3199 non-null   object
 4   country                 3199 non-null   object
 5   area                    3199 non-null   object
 6   location                3199 non-null   object
 7   activity                3199 non-null   object
 8   name                    3199 non-null   object
 9   sex                     3199 non-null   object
 10  age                     3189 non-null   object
 11  injury                  3199 non-null   object
 12  fatal_(y/n)             3199 non-null   object
 13  time                    3199 non-null   object
 14  species                 3199 non-null   object
 15  investigator_or_source  3199 non-null   object
 16  pdf                     3199 non-null   object
 17  href_formula            3199 non-null   object
 18  href                    3199 non-null   object
 19  case_number.1           3199 non-null   object
 20  case_number.2           3199 non-null   object
 21  original_order          3199 non-null   float64
 22  unnamed:_22             3199 non-null   object
 23  unnamed:_23             3199 non-null   int64
dtypes: float64(2), int64(1), object(21)
memory usage: 4.8 MB

In [508]:
for c in data.select_dtypes('object').columns:
    data[c] = data[c].astype('category')

In [509]:
data.info(memory_usage='deep')
#Hemos cambiado los object por datos categóricos. Y como vemos la memoria usada a disminuido. Pasando de 22.8 Mb a 8.4 Mb.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3199 entries, 0 to 5563
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             3199 non-null   category
 1   date                    3199 non-null   category
 2   year                    3199 non-null   float64
 3   type                    3199 non-null   category
 4   country                 3199 non-null   category
 5   area                    3199 non-null   category
 6   location                3199 non-null   category
 7   activity                3199 non-null   category
 8   name                    3199 non-null   category
 9   sex                     3199 non-null   category
 10  age                     3189 non-null   category
 11  injury                  3199 non-null   category
 12  fatal_(y/n)             3199 non-null   category
 13  time                    3199 non-null   category
 14  species                 3199 non-null   category
 15  investigator_or_source  3199 non-null   category
 16  pdf                     3199 non-null   category
 17  href_formula            3199 non-null   category
 18  href                    3199 non-null   category
 19  case_number.1           3199 non-null   category
 20  case_number.2           3199 non-null   category
 21  original_order          3199 non-null   float64
 22  unnamed:_22             3199 non-null   category
 23  unnamed:_23             3199 non-null   int64
dtypes: category(21), float64(2), int64(1)
memory usage: 3.7 MB

In [510]:
#Optimización de memoria. Pasamos los float64 a float32, que ocuparán la mitad del tamaño en la memoria.
for c in data.select_dtypes('float').columns:
    data[c] = pd.to_numeric(data[c], downcast='float')

In [511]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3199 entries, 0 to 5563
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             3199 non-null   category
 1   date                    3199 non-null   category
 2   year                    3199 non-null   float32
 3   type                    3199 non-null   category
 4   country                 3199 non-null   category
 5   area                    3199 non-null   category
 6   location                3199 non-null   category
 7   activity                3199 non-null   category
 8   name                    3199 non-null   category
 9   sex                     3199 non-null   category
 10  age                     3189 non-null   category
 11  injury                  3199 non-null   category
 12  fatal_(y/n)             3199 non-null   category
 13  time                    3199 non-null   category
 14  species                 3199 non-null   category
 15  investigator_or_source  3199 non-null   category
 16  pdf                     3199 non-null   category
 17  href_formula            3199 non-null   category
 18  href                    3199 non-null   category
 19  case_number.1           3199 non-null   category
 20  case_number.2           3199 non-null   category
 21  original_order          3199 non-null   float32
 22  unnamed:_22             3199 non-null   category
 23  unnamed:_23             3199 non-null   int64
dtypes: category(21), float32(2), int64(1)
memory usage: 3.7 MB

In [512]:
data.to_csv('DataLimpieza99.csv', index=True, sep=';')